html{
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
}
.start {
    width: 100%;
    height: 960px;
    background: url(/img/Lunch_atop_a_Skyscraper\ 1.svg);
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(42, 108, 234, .8)
}
header{
    position: relative;
    padding: 26px 352px;
}
.navigation {
    list-style-type: none;
    float: right;
    font-family: "GraphikLCG-Regular";
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    margin: 0;
    padding: 0;

}
ul{
    margin: 0;
}
li{
    display: inline;
    padding-left: 24px;
    text-align: center;
}
li:hover{
    text-decoration: underline;
    cursor: pointer;
}
.block_job {
    position: relative;
    margin: 0;
    padding: 233px 586px;
}
.block_job_title {
    margin: 0;
    font-family: "GraphikLCG-Medium";
    font-size: 52px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    line-height: 64px;
}
.block_job_subtitle {
    margin: 0;
    font-family: "GraphikLCG-Regular";
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: #fff;
    line-height: 32px;
    padding-bottom: 100px;
    padding-top: 10px;
}
.block_job_button {
    font-family: "GraphikLCG-Regular";
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    padding: 20px 40px;
    border-radius: 4px;
    margin: auto;
    display: flex;
    border-style: hidden;
    background-color: #ECEFF2;
}
.block_job_button:hover{
    cursor: pointer;
    background-color: #fff;
}

.how_it_works_title {
    margin:0;
    padding-top: 100px;
    font-family: "GraphikLCG-Medium";
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}
.how_it_works {
    margin: 0;
    position: relative;
    padding: 50px 352px;
    align-items: center;
    display: flex;
    justify-content: center;
    
}
.how_it_works_subtitle{
    font-family: "GraphikLCG-Medium";
    font-size: 16px;
    font-weight: 600px;
    margin: 0;
    line-height: 24px;
}
.how_it_works_text {
    font-family: "GraphikLCG-Regular";
    font-size: 14px;
    font-weight: 400px;
    color:#5E646A;
    line-height: 24px;
    margin: 0;
    padding-top: 7px;
}
.block_read {
    width: 280px;
}
.block_learn {
    width: 280px;
}
.block_make {
    width: 280px;
}
.block_get {
    width: 280px;
}

.third_block {
    margin: 0;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 100px 352px;
}
.block_text {
    top: 100px;
}
.third_section_title {
    font-family: "GraphikLCG-Medium";
    font-size: 32px;
    width: 592px;
    margin: 0;
}
.third_block_text1 {
    font-family: "GraphikLCG-Regular";
    font-size: 16px;
    font-weight: 400px;
    color:#5E646A;
    margin: 0;
    padding: 30px 0;
}
.third_block_text2 {
    font-family: "GraphikLCG-Regular";
    font-size: 16px;
    font-weight: 400px;
    color:#5E646A;
    margin: 0;
}
.block_phone {
    position: relative;
    width: 592px;
}
.phone {
    position: absolute;
    top: 0;
}
#parent
.truck {
    position: relative;
}

.reviews {
    width: 100%;
    height: 564px;
    background-color: #F6F8FA;
}
.reviews_title {
    margin:0;
    font-family: "GraphikLCG-Medium";
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}
.reviews_container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 25px;
}
.review_block {
    width: 341px;
    height: 316px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 5px 24px 0px #0000001A;
    padding: 22px 22px 62px 22px;
}
.profile_block {
    display: flex;
    flex-wrap: wrap;
}
.name {
    font-family: "GraphikLCG-Medium";
    font-size: 16px;
    font-weight: 600px;
    margin: 0;
    line-height: 24px;
}
.city {
    font-family: "GraphikLCG-Regular";
    font-size: 12px;
    font-weight: 400px;
    color:#5E646A;
    margin: 0;
}
.review {
font-family: "GraphikLCG-Regular";
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
}












@font-face {
    font-family: "GraphikLCG-Bold";
    src: url(/fonts/GraphikLCG-Bold.ttf);
}
@font-face {
    font-family: "GraphikLCG-Regular";
    src: url(/fonts/GraphikLCG-Regular.ttf);
}
@font-face {
    font-family: "GraphikLCG-Medium";
    src: url(/fonts/GraphikLCG-Medium.ttf);
}

